In [2]:
import pandas as pd
from utils.folders_tb import jsonlink_df
from utils.mining_data_tb import extract_dict_values,filter_df

In [3]:
covid = jsonlink_df('https://covid.ourworldindata.org/data/owid-covid-data.json').T
covid

,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,data,extreme_poverty,female_smokers,male_smokers
AFG,Asia,Afghanistan,38928341.0,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,37.746,0.500,64.83,0.498,"[{'date': '2020-02-24', 'total_cases': 1.0, 'n...",NaN,NaN,NaN
ALB,Europe,Albania,2877800.0,104.871,38.0,13.188,8.643,11803.431,304.195,10.08,NaN,2.890,78.57,0.785,"[{'date': '2020-03-09', 'total_cases': 2.0, 'n...",1.1,7.100,51.200
DZA,Africa,Algeria,43851043.0,17.348,29.1,6.211,3.857,13913.839,278.364,6.73,83.741,1.900,76.88,0.754,"[{'date': '2020-02-25', 'total_cases': 1.0, 'n...",0.5,0.700,30.400
AND,Europe,Andorra,77265.0,163.755,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.858,"[{'date': '2020-03-02', 'total_cases': 1.0, 'n...",NaN,29.000,37.800
AGO,Africa,Angola,32866268.0,23.890,16.8,2.405,1.362,5819.495,276.045,3.94,26.664,NaN,61.15,0.581,"[{'date': '2020-03-20', 'total_cases': 1.0, 'n...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VNM,Asia,Vietnam,97338583.0,308.127,32.6,7.150,4.718,6171.884,245.465,6.00,85.847,2.600,75.40,0.694,"[{'date': '2020-01-23', 'total_cases': 2.0, 'n...",2.0,1.000,45.900
OWID_WRL,NaN,World,7794798729.0,58.045,30.9,8.696,5.355,15469.207,233.070,8.51,60.130,2.705,72.58,NaN,"[{'date': '2020-01-22', 'total_cases': 557.0, ...",10.0,6.434,34.635
YEM,Asia,Yemen,29825968.0,53.508,20.3,2.922,1.583,1479.147,495.003,5.35,49.542,0.700,66.12,0.452,"[{'date': '2020-04-10', 'total_cases': 1.0, 'n...",18.8,7.600,29.200
ZMB,Africa,Zambia,18383956.0,22.995,17.7,2.480,1.542,3689.251,234.499,3.94,13.938,2.000,63.89,0.588,"[{'date': '2020-03-18', 'total_cases': 2.0, 'n...",57.5,3.100,24.700
ZWE,Africa,Zimbabwe,14862927.0,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,36.791,1.700,61.49,0.535,"[{'date': '2020-03-20', 'total_cases': 1.0, 'n...",21.4,1.600,30.700

In [5]:
covid=filter_df(covid,'location','Argentina','Russia', 'Colombia', 'Chile', 'Spain')
covid

,continent,location,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,data,extreme_poverty,female_smokers,male_smokers
ARG,South America,Argentina,45195777.0,16.177,31.9,11.198,7.441,18933.907,191.032,5.50,NaN,5.00,76.67,0.825,"[{'date': '2020-01-01', 'total_tests': 4.0, 'n...",0.6,16.2,27.7
CHL,South America,Chile,19116209.0,24.282,35.4,11.087,6.938,22767.037,127.993,8.46,NaN,2.11,80.18,0.843,"[{'date': '2020-02-23', 'total_cases': 2.0, 'n...",1.3,34.2,41.5
COL,South America,Colombia,50882884.0,44.223,32.2,7.646,4.312,13254.949,124.240,7.44,65.386,1.71,77.29,0.747,"[{'date': '2020-03-06', 'total_cases': 1.0, 'n...",4.5,4.7,13.5
RUS,Europe,Russia,145934460.0,8.823,39.6,14.178,9.393,24765.954,431.297,6.18,NaN,8.05,72.58,0.816,"[{'date': '2020-01-31', 'total_cases': 2.0, 'n...",0.1,23.4,58.3
ESP,Europe,Spain,46754783.0,93.105,45.5,19.436,13.799,34272.360,99.403,7.17,NaN,2.97,83.56,0.891,"[{'date': '2020-02-01', 'total_cases': 1.0, 'n...",1.0,27.4,31.4

In [3]:
data_covid = covid.loc[:, ['data']]
data_covid = extract_dict_values(df_name=data_covid, column_df='data')
data_covid

,date,total_cases,new_cases,total_cases_per_million,new_cases_per_million,stringency_index,new_cases_smoothed,new_deaths_smoothed,new_cases_smoothed_per_million,new_deaths_smoothed_per_million,...,new_vaccinations_smoothed_per_million,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,new_vaccinations,weekly_hosp_admissions,weekly_hosp_admissions_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million
0,2020-02-24,1.0,1.0,0.026,0.026,8.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-25,1.0,0.0,0.026,0.000,8.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-26,1.0,0.0,0.026,0.000,8.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-27,1.0,0.0,0.026,0.000,8.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-28,1.0,0.0,0.026,0.000,8.33,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,2021-01-14,25368.0,1112.0,1706.797,74.817,87.04,956.143,27.143,64.331,1.826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2021-01-15,26109.0,741.0,1756.653,49.856,87.04,921.286,28.286,61.985,1.903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2021-01-16,26881.0,772.0,1808.594,51.941,87.04,911.714,28.571,61.342,1.922,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2021-01-17,27203.0,322.0,1830.259,21.665,87.04,818.000,29.429,55.036,1.980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2021-01-18,27892.0,689.0,1876.616,46.357,NaN,799.286,35.000,53.777,2.355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN