
Group A: Anais, Andreea y Mar

Countries assigned:
    Argentina, Russia, Colombia, Chile and Spain


Option C

1. Document all steps. Structure your code to keep it cleaned using good practices.

DONE: 2. Collect Coronavirus Data. It is mandatory that in each call, it collects the last updated data.

MAR: 3. Determine and explain if the data is cleaned. If not, then clean it.

4. Create an API that returns a Json with the logic explained for your group. The flask server must be executed running the src/api/server.py file.
5. Get the jsons generated from your annexed group and plot it. First, try to connect to the private ip of your     annexed group. If it is not possible because of physical issues, then simply use what they generate copying it. If your annexed group cannot give you the necessary json, then annotate it, use the json of another group.

ANAIS: 6. Show different tendencies for each column in your dataset. Show, vertically, the start date and end date of the alarm state in each plot. If there is no alarm state, then show only the start date.

ANDREEA: 7. Draw the workflow of your program. You can use free tools.

8. Per country, which are the columns that are more related find the correlation between columns with the           correlation matrix.

DONE: 9. Use a different github repository adding all group participants with write permissions. Use that repository to manage the delivery code and resources. It is mandatory that every student of the group does, at least,five commits/push.

    10. Answer the questions:
        a. What position do your countries occupe respect to the number of total infected, total deaths and                 total recoveries?
        b. What can you conclude about your data study?
        c. Are there outliers or some rare data?



Our API must offer data to Group B and receive it from Group F, as follows:

    We have to offer a json(df):
    - Group A: it must return a json with one key “n_c_averages” that represents
    the mean of the “new_cases” per day of all of your countries.


    We should receive a json(df):
    - Group F: it must return a json with one key “n_t_averages” that represents the
    mean of the “new_tests” per day of all your countries.
    
Option B.... to be continued

In [1]:
import pandas as pd
import seaborn as sns
from utils.folders_tb import jsonlink_df
from utils.mining_data_tb import extract_dict_values,filter_df, df_covid, remove_outlier, datetime
#from utils import visualization_tb

In [17]:
covid = jsonlink_df('https://covid.ourworldindata.org/data/owid-covid-data.json').T
covid

         continent     location  ... female_smokers male_smokers
AFG           Asia  Afghanistan  ...            NaN          NaN
ALB         Europe      Albania  ...            7.1         51.2
DZA         Africa      Algeria  ...            0.7         30.4
AND         Europe      Andorra  ...             29         37.8
AGO         Africa       Angola  ...            NaN          NaN
...            ...          ...  ...            ...          ...
VNM           Asia      Vietnam  ...              1         45.9
OWID_WRL       NaN        World  ...          6.434       34.635
YEM           Asia        Yemen  ...            7.6         29.2
ZMB         Africa       Zambia  ...            3.1         24.7
ZWE         Africa     Zimbabwe  ...            1.6         30.7

[191 rows x 18 columns]

In [18]:
covid=filter_df(covid,'location','Argentina','Russia', 'Colombia', 'Chile', 'Spain')
covid

         continent   location  ... female_smokers male_smokers
ARG  South America  Argentina  ...           16.2         27.7
CHL  South America      Chile  ...           34.2         41.5
COL  South America   Colombia  ...            4.7         13.5
RUS         Europe     Russia  ...           23.4         58.3
ESP         Europe      Spain  ...           27.4         31.4

[5 rows x 18 columns]

In [9]:
data_covid = covid.loc[:, ['data']]
data_covid = extract_dict_values(df_name=data_covid, column_df='data')
data_covid

,date,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units,stringency_index,new_tests_smoothed,new_tests_smoothed_per_thousand,total_cases,...,new_vaccinations_smoothed_per_million,new_vaccinations,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million
0,2020-01-01,4.0,4.0,0.000,0.0,people tested,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-02,14.0,10.0,0.000,0.0,people tested,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-03,19.0,5.0,0.000,0.0,people tested,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-04,31.0,12.0,0.001,0.0,people tested,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-05,41.0,10.0,0.001,0.0,people tested,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,2021-01-14,NaN,NaN,NaN,NaN,NaN,71.3,NaN,NaN,2211967.0,...,1433.0,94548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,2021-01-15,NaN,NaN,NaN,NaN,NaN,71.3,NaN,NaN,2252164.0,...,1500.0,92764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,2021-01-16,NaN,NaN,NaN,NaN,NaN,71.3,NaN,NaN,2252164.0,...,1501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,2021-01-17,NaN,NaN,NaN,NaN,NaN,71.3,NaN,NaN,2252164.0,...,1502.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,2021-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2336451.0,...,1503.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
covid=df_covid(covid,val1="data")
covid

          continent  ... data.hosp_patients_per_million
0     South America  ...                            NaN
1     South America  ...                            NaN
2     South America  ...                            NaN
3     South America  ...                            NaN
4     South America  ...                            NaN
...             ...  ...                            ...
1736         Europe  ...                            NaN
1737         Europe  ...                            NaN
1738         Europe  ...                            NaN
1739         Europe  ...                            NaN
1740         Europe  ...                            NaN

[1741 rows x 54 columns]

In [20]:
covid= datetime(dt=covid, val1="data.date")
covid

          continent  ... data.hosp_patients_per_million
0     South America  ...                            NaN
1     South America  ...                            NaN
2     South America  ...                            NaN
3     South America  ...                            NaN
4     South America  ...                            NaN
...             ...  ...                            ...
1736         Europe  ...                            NaN
1737         Europe  ...                            NaN
1738         Europe  ...                            NaN
1739         Europe  ...                            NaN
1740         Europe  ...                            NaN

[1741 rows x 54 columns]

In [22]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1741 entries, 0 to 1740
Data columns (total 54 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   continent                                   1741 non-null   object
 1   location                                    1741 non-null   object
 2   population                                  1741 non-null   float64
 3   population_density                          1741 non-null   float64
 4   median_age                                  1741 non-null   float64
 5   aged_65_older                               1741 non-null   float64
 6   aged_70_older                               1741 non-null   float64
 7   gdp_per_capita                              1741 non-null   float64
 8   cardiovasc_death_rate                       1741 non-null   float64
 9   diabetes_prevalence                         1741 non-null   float64
 10  handwashing_facilities                      319 non-null    float64
 11  hospital_beds_per_thousand                  1741 non-null   float64
 12  life_expectancy                             1741 non-null   float64
 13  human_development_index                     1741 non-null   float64
 14  extreme_poverty                             1741 non-null   float64
 15  female_smokers                              1741 non-null   float64
 16  male_smokers                                1741 non-null   float64
 17  data.date                                   1741 non-null   datetime64[ns]
 18  data.total_tests                            1209 non-null   float64
 19  data.new_tests                              1157 non-null   float64
 20  data.total_tests_per_thousand               1209 non-null   float64
 21  data.new_tests_per_thousand                 1157 non-null   float64
 22  data.tests_units                            1483 non-null   object
 23  data.stringency_index                       1723 non-null   float64
 24  data.new_tests_smoothed                     1448 non-null   float64
 25  data.new_tests_smoothed_per_thousand        1448 non-null   float64
 26  data.total_cases                            1679 non-null   float64
 27  data.new_cases                              1679 non-null   float64
 28  data.total_cases_per_million                1679 non-null   float64
 29  data.new_cases_per_million                  1679 non-null   float64
 30  data.new_cases_smoothed                     1654 non-null   float64
 31  data.total_deaths                           1551 non-null   float64
 32  data.new_deaths                             1551 non-null   float64
 33  data.new_deaths_smoothed                    1654 non-null   float64
 34  data.new_cases_smoothed_per_million         1654 non-null   float64
 35  data.total_deaths_per_million               1551 non-null   float64
 36  data.new_deaths_per_million                 1551 non-null   float64
 37  data.new_deaths_smoothed_per_million        1654 non-null   float64
 38  data.positive_rate                          1382 non-null   float64
 39  data.tests_per_case                         1382 non-null   float64
 40  data.reproduction_rate                      1498 non-null   float64
 41  data.total_vaccinations                     33 non-null     float64
 42  data.total_vaccinations_per_hundred         33 non-null     float64
 43  data.new_vaccinations_smoothed              85 non-null     float64
 44  data.new_vaccinations_smoothed_per_million  85 non-null     float64
 45  data.new_vaccinations                       16 non-null     float64
 46  data.weekly_icu_admissions                  50 non-null     float64
 47  data.weekly_icu_admissions_per_million      50 non-null     float64
 48  data.weekly_hosp_admissions                 50 non-null     float64
 49  data.weekly_hosp_admissions_per_million     50 non-null     float64
 50  data.icu_patients                           97 non-null     float64
 51  data.icu_patients_per_million               97 non-null     float64
 52  data.hosp_patients                          97 non-null     float64
 53  data.hosp_patients_per_million              97 non-null     float64
dtypes: datetime64[ns](1), float64(50), object(3)
memory usage: 734.6+ KB